:root{
    --color-autenticacion:#202020;
}

body {
    background: rgb(19,19,19);
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(32,30,32,1) 100%);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#autenticacion {
    margin-top: 1rem;
    width: 25rem;
    height: auto;
    background: var(--color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    border-radius: 1rem;
}

#autenticacion__logo{
    display: inline-block;
    min-width: 6rem;
}

#autenticacion__logo img{
    display: inline-block;
    cursor: pointer;
    max-height: 3.8rem;
}

#autenticacion__titulo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-top: 0.5rem;
}

#autenticacion__titulo h1 {
    color: var(--color-texto);
    font-family: var(--font-titulo);
    margin-top: 0.8rem;
    margin-bottom: 0;
    
}

#autenticacion__titulo__sub{
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: var(--color-texto);
    font-family: var(--font-titulo);
}


#autenticacion__form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.autenticacion__form__campo {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.autenticacion__redirecciones__contraseña{
    margin-top: 1rem !important;
}

.autenticacion__form__error{
    color: #EE3B2B;
    margin-top: -0.5rem;
    font-family: var(--font-cuerpo);
    margin-bottom: 0rem;
}

.autenticacion__form__titulo{
    margin-bottom: 0rem;
    font-family: var(--font-cuerpo);
    font-weight: bold;
}

.autenticacion__form__campo__entrada {
    width: 100%;
    font-size: 16px;
    height: 2.5rem;
    background: transparent;
    border: none;
    border-bottom: 0.15rem solid #717171;;
    color: #fff;
}

.autenticacion__form__campo__entrada--error {
    border-bottom: 0.15rem solid #EE3B2B;
}


.campo__nombre{
    margin-right: 1rem;
}

.dropdown-mes{
    margin-top: 0.3rem;
    margin-right: 1rem;
}

.dropdown-pais:focus{
    color: rgb(55, 55, 55);
}

.dropdown-mes:focus{
    color: rgb(55, 55, 55);
}

.autenticacion__form__campo__entrada:focus {
    border-bottom: 0.15rem solid var(--color-marca);
    outline: none;
}


.autenticacion__form__campo__etiqueta {
    font-size: 16px;
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    padding: 0 5px;
    font-weight: bold;
    display: none;
    background: var(--color-autenticacion);
    color: var(--color-texto);
    font-family: var(--font-cuerpo);
}

#autenticacion__form__contenedor-boton {
    display: flex;
    width: 100%;
    height: 2.8rem;
    justify-content: right;
    margin: 10px 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    width: 100%;
}

#autenticacion__form__contenedor-boton input {
    width: 13rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10rem;
    border: none;
    font-weight: bold;
    background-color: var(--color-marca);
    color: var(--color-texto);
    transition: 0.05s all;
}

#autenticacion__form__contenedor-boton input:hover {
    background-color: hsl(258, 85%, 59%);
}

.autenticacion__redirecciones {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: var(--color-texto);
    font-family: var(--font-cuerpo);
}

.autenticacion__redirecciones p {
    font-size: 16px;
    margin: 0;
    color: #fff;
}

.autenticacion__redirecciones a {
    font-size: 16px;
    margin: 0;
    color: #874FF6;
    text-decoration: none;
}

.autenticacion__redirecciones a:hover{
    text-decoration:underline;
}

.autenticacion__registro{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    main{
        margin-top: 1rem;
        align-items: start;
        height: 80%;
    }
    #autenticacion__logo{
        display: inline-block;
        width: 100%;
    }
    
    #autenticacion__logo img{
        display: inline-block;
        cursor: pointer;
        max-height: 1.8rem;
    }

    #autenticacion{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        padding: 1rem;
        padding-left: 1rem;
        margin-left: 0rem;
    }

    #autenticacion__titulo{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        margin-top: 0rem;
    }
    
}