.seccion-titular {
    margin: 0rem 0 0.5rem 6rem;
    color: #fff;
    overflow: hidden;
    flex-wrap: wrap;
}

/*titulos de categorias*/
.seccion-titular h2 {
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

/*categorias*/
.seccion-titular__music {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
}


/*informacion de cancion*/
.seccion-titular__info--music {
    display: flex;
    width: 11rem;
    height: 15rem;
    background-color: rgb(35, 35, 35);
    flex-direction: column;
    border-radius: 4%;
    margin-top: 1rem;
    margin-right: 2rem;
}

.seccion-titular__info--img{
    display: flex;
    position: relative;
    justify-content: center;
}

/*imagen de cancion*/
.imagen{    
    position: relative;
    min-width: 9rem;
    min-height: 9rem;
    width: 9rem;
    height: 9rem;
    margin: 1rem;
    margin-bottom: 0rem;
    border-radius: 4%;
    object-fit: cover;
    object-position: center;
    
}

.reproducir-sobre-imagen{
    position: absolute;
    width: 4rem;
    margin: 3.5rem;
    opacity: 0;
    transition: opacity 0.05s;
    z-index: 1;
}

.seccion-titular__info--music:hover{
    background-color: rgb(38, 38, 38);
    cursor: pointer;

    .imagen{
        opacity: 0.6;
    }

    .reproducir-sobre-imagen{
        opacity: 0.95;
    }
}



/*texto de cancion: titulo y cantante*/
.seccion-titular__info--text {
    margin-top: 0.625rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial;
}

/*titulo*/
.seccion-titular__info--text .seccion-titular__info--titulo {
    font-size: 15px;
    font-weight: bold;
}

/*cantante*/
.seccion-titular__info--text .seccion-titular__info--artista {
    font-size: 14px;
    margin-top: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .seccion-titular__music {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 1rem;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .seccion-titular__music::-webkit-scrollbar {
        display: none;   
    }

    .reproducir-sobre-imagen{
        display: none;
    }

    .seccion-titular__info--music:focus{
        background-color: rgb(38, 38, 38);
        cursor: pointer;
        opacity: 0.6;
        
    }
}
