body {
    height: 100vw;
    height: calc(100vh - 4rem);
    padding: 0;
    margin: 0;
    background-color: var(--color-body);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#cont-form {
    width: 500px;
    height: auto;
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
}

#cont-form h1 {
    color: var(--color-texto);
    font-family: var(--font-titulo);
}


#cont-form__form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.cont-form__form__campos {
    display: flex;
}

.cont-form__form__campos__nomb {
    margin: 20px 40px;
    display: flex;
    width: 100%;
    height: 54px;
}

.cont-form__form__datos__info {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.cont-form__form__datos__info__ingr {
    width: 100%;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.cont-form__form__datos__info__ingr:focus {
    border: 2px solid rgb(98, 21, 211);
    outline: none;
}


.cont-form__form__datos__nomb {
    font-size: 16px;
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    padding: 0 5px;
    background: #1E1E1E;
    color: var(--color-texto);
    font-family: var(--font-cuerpo);
}

#cont-form__form__cont-b {
    display: flex;
    width: 100%;
    height: 54px;
    justify-content: center;
    margin: 10px 0;
}

#cont-form__form__cont-b__boton {
    width: 15rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    background-color: var(--color-marca);
    color: var(--color-texto);
}

.cont-form__form__cont__in-sesion {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: 6rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
    font-family: var(--font-cuerpo);
}

.cont-form__form__cont__in-sesion p {
    font-size: 16px;
    margin: 0;
    color: #fff;
}